.wrapper{
    width:1200px;
    margin: 0 auto;

}
.crumbs{
    height:63px;
    line-height:63px;
    color:#333;
    font-size:12px;
}
.crumbs{
    cursor:pointer; 
}
.crumbs .item:last-child{
    color:#000;
}
.operation{
    background-color:#fff;
    padding:0 24px;
}   
.operation > .row{
    display:flex;
}

.operation > .row .item{
    width:104px;
    height:48px;
    line-height:48px;
    font-size: 12px;

    color:#000;
    cursor:pointer;
}

.operation > .row .item:first-child{
    color:#666;
    cursor:auto;
}

.operation > .row .item.active{
    color:red;
}

.product{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:30px;
}

.product > .item{
    width:291px;
    /* height:386px; */
    background-color:#fff;
    margin-bottom:30px;
}

.product > .item a{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.product > .item .album{
    width:180px;
    height:180px;
    margin:30px 0;
}
.product > .item .name{
    font-weight:700;
    color:#000;
}
.product > .item a .pay{
    margin:10px 0 8px;
    color:#666;
}
.product > .item a .price{ 
    display:flex;
    align-items:center;
    margin-bottom:7px;
}
.product > .item a .price .discount{
    font-size:13px;
    text-decoration-line:line-through;
    margin-left:4px;
    color:#666;
} 
.product > .item a .price .now{
    font-size:16px;
    font-weight:500;
    color:red;
}
.product > .item .service .tip{
    color:red;
    font-size:12px;
    /* align-items:center; */
    border:1px solid red;
    padding:0px 1px;
    border-radius:3px;
    margin: 0 3px;
}
.product > .item a .comment{
    color:#666;
    font-size:12px;
    margin:8px 6px 12px;
}