body{
    border:0;
    padding:0;
    margin:0;
}
.banner{
    position:relative;
}
.banner > .images{
    position:absolute;
    width:100%;
    height:650px;
    overflow:hidden;
}    
.banner > .images .img{
    position:absolute;
    transform:scale(0.4); 
    transform-origin:top left;

    left:0;
    top:0;
    
    width:100%;

}
.banner .indicator{
    position:absolute;
    width:1270px;
    display:flex;
    justify-content:center;
    bottom:30px; 
}
.banner .indicator .item{
    border-radius:50%;
    height:8px;
    width:8px;
    background-color:#aaa;
    margin: 0 5px;
    
}
.banner > .indicator .item.active{
    background-color:aqua
}